@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.after-vertical-line::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 80%;
  background-color: #EAEAEA;
  margin-left: 8px;
  margin-right: 8px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
